<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<div class="container">
  <h1><%= @product.name %></h1>
  <%= link_to "Back to all products", root_path %>

  <h3>Reviews</h3>
  <% if @product.reviews.empty? %>
    <p>Be the first to let a review</p>
  <% else %>
    <ul class="list-group">
      <% @product.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge badge-primary badge-pill">
            <% counter = 0 %>
            <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
            <% end %>
          </span>
          <%= review.content %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= render "reviews/new", product: @product, review: @review %>

</div>

