<div class="show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @product.photo.key, height: 300, width: 400, crop: :fill %>')">

  <div class="container">
    <h1><%= @product.name %></h1>
    <h2><%= @product.price  %> Naira</h2>
    <p><%= @product.description  %></p>

    <%= link_to "Back to all products", products_path, class: "btn btn-outline-success" %>
    <%= link_to "Edit product", edit_product_path, class: "btn btn-outline-light" %>
    <%= link_to 'Delete product', product_path(@product), :confirm => 'Are you sure?', :method => :delete, class: "btn btn-outline-danger" %>

<!--
    <button id="sweet-alert-demo" class="btn btn-danger">Delete <%= @product.name %></button>
    <%= link_to "", product_path(@product), method: :delete, id: "delete-link", class: "hidden" %>
-->

      <h3>Reviews</h3>
      <% if @product.reviews.empty? %>
        <p>Be the first to let a review</p>
      <% else %>
        <ul class="list-group">
          <% @product.reviews.each do |review| %>
    <div class="review">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="badge badge-primary badge-pill">
                <% counter = 0 %>
                <% 5.times do %>
                  <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                  <% counter += 1 %>
                <% end %>
              </span>
              <%= review.content %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <%= render "reviews/new", product: @product, review: @review %>
    </div>

  </div>
</div>
